Repository sm7150-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

device-xiaomi-davinci: Update initramfs modules
  device/testing/device-xiaomi-davinci/APKBUILD
  device/testing/device-xiaomi-davinci/modules-initfs
Due: wiki

firmware-xiaomi-surya: Update and add sensors firmware
  device/testing/firmware-xiaomi-surya/APKBUILD
  device/testing/firmware-xiaomi-surya/adsp.files
  device/testing/firmware-xiaomi-surya/cdsp.files
  device/testing/firmware-xiaomi-surya/gpu.files
  device/testing/firmware-xiaomi-surya/ipa.files
  device/testing/firmware-xiaomi-surya/modem.files
  device/testing/firmware-xiaomi-surya/sensors.files
  device/testing/firmware-xiaomi-surya/touchscreen.files
  device/testing/firmware-xiaomi-surya/venus.files
  device/testing/firmware-xiaomi-surya/wlan.files
Due: none

device-xiaomi-surya: Refine nonfree firmware dependencies
  device/testing/device-xiaomi-surya/APKBUILD
Due: wiki

soc-qcom-sm7150: Update alsa ucm configs
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

device-xiaomi-davinci: Unconditionally install firmware
  device/testing/device-xiaomi-davinci/APKBUILD
Due: wiki

device-xiaomi-surya: support Huaxing and Tianma panels
  device/testing/device-xiaomi-surya/APKBUILD
  device/testing/device-xiaomi-surya/deviceinfo
Due: wiki

device-xiaomi-davinci: Add myself as Co-Maintainer
  device/testing/device-xiaomi-davinci/APKBUILD
Due: wiki

device-xiaomi-surya: modules-initfs: Add ts and panels, drop gpi and spi
  device/testing/device-xiaomi-surya/APKBUILD
  device/testing/device-xiaomi-surya/modules-initfs
Due: wiki

Add firmware-xiaomi-sweet_k6a for Xiaomi Redmi Note 12 Pro
  device/testing/firmware-xiaomi-sweet_k6a/APKBUILD
  device/testing/firmware-xiaomi-sweet_k6a/adsp.files
  device/testing/firmware-xiaomi-sweet_k6a/cdsp.files
  device/testing/firmware-xiaomi-sweet_k6a/gpu.files
  device/testing/firmware-xiaomi-sweet_k6a/ipa.files
  device/testing/firmware-xiaomi-sweet_k6a/modem.files
  device/testing/firmware-xiaomi-sweet_k6a/sensors.files
  device/testing/firmware-xiaomi-sweet_k6a/venus.files
  device/testing/firmware-xiaomi-sweet_k6a/wlan.files
Due: none

device-xiaomi-davinci: Update firmware dependencies
  device/testing/device-xiaomi-davinci/APKBUILD
Due: wiki

xiaomi-sweet: new device
  device/testing/device-xiaomi-sweet/APKBUILD
  device/testing/device-xiaomi-sweet/deviceinfo
  device/testing/device-xiaomi-sweet/modules-initfs
  device/testing/firmware-xiaomi-sweet/APKBUILD
  device/testing/firmware-xiaomi-sweet/adsp.files
  device/testing/firmware-xiaomi-sweet/cdsp.files
  device/testing/firmware-xiaomi-sweet/gpu.files
  device/testing/firmware-xiaomi-sweet/hexagonrpcd.confd
  device/testing/firmware-xiaomi-sweet/ipa.files
  device/testing/firmware-xiaomi-sweet/modem.files
  device/testing/firmware-xiaomi-sweet/sensors.files
  device/testing/firmware-xiaomi-sweet/venus.files
  device/testing/firmware-xiaomi-sweet/wlan.files
Due: wiki

soc-qcom-sm7150: Drop userspace pd-mapper
  device/testing/soc-qcom-sm7150/APKBUILD
  device/testing/soc-qcom-sm7150/soc-qcom-sm7150-nonfree-firmware-openrc.post-install
Due: none

Add device-xiaomi-sweet_k6a for Xiaomi Redmi Note 12 Pro
  device/testing/device-xiaomi-sweet_k6a/APKBUILD
  device/testing/device-xiaomi-sweet_k6a/deviceinfo
  device/testing/device-xiaomi-sweet_k6a/modules-initfs
Due: wiki

soc-qcom-sm7150: Add bootmac to set bt mac address
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

xiaomi-tucana: Add libssc-180-degrees mount matrix to dependencies
  device/testing/device-xiaomi-tucana/APKBUILD
Due: wiki

xiaomi-tucana: New device
  device/testing/device-xiaomi-tucana/APKBUILD
  device/testing/device-xiaomi-tucana/deviceinfo
  device/testing/device-xiaomi-tucana/modules-initfs
  device/testing/firmware-xiaomi-tucana/APKBUILD
  device/testing/firmware-xiaomi-tucana/adsp.files
  device/testing/firmware-xiaomi-tucana/cdsp.files
  device/testing/firmware-xiaomi-tucana/gpu.files
  device/testing/firmware-xiaomi-tucana/ipa.files
  device/testing/firmware-xiaomi-tucana/modem.files
  device/testing/firmware-xiaomi-tucana/sensors.files
  device/testing/firmware-xiaomi-tucana/venus.files
  device/testing/firmware-xiaomi-tucana/wlan.files
Due: wiki

soc-qcom-sm7150: Add feedbackd udev rules for drv260x haptics
  device/testing/soc-qcom-sm7150/90-feedbackd-drv260x.rules
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

firmware-xiaomi-sweet_k6a: update firmware (with sensors fix)
  device/testing/firmware-xiaomi-sweet_k6a/APKBUILD
  device/testing/firmware-xiaomi-sweet_k6a/sensors.files
Due: none

google-sunfish: new device
  device/testing/device-google-sunfish/APKBUILD
  device/testing/device-google-sunfish/deviceinfo
  device/testing/device-google-sunfish/modules-initfs
  device/testing/firmware-google-sunfish/APKBUILD
  device/testing/firmware-google-sunfish/adsp.files
  device/testing/firmware-google-sunfish/cdsp.files
  device/testing/firmware-google-sunfish/gpu.files
  device/testing/firmware-google-sunfish/ipa.files
  device/testing/firmware-google-sunfish/modem.files
  device/testing/firmware-google-sunfish/sensors.files
  device/testing/firmware-google-sunfish/venus.files
  device/testing/firmware-google-sunfish/wlan.files
Due: wiki

device-xiaomi-sweet_k6a: update dependencies replace boot-deploy with postmarketos-update-kernel add soc-qcom-sm7150-libssc-180-degrees to fix accelerometer also update maintainer email
  device/testing/device-xiaomi-sweet_k6a/APKBUILD
Due: wiki

FIXME: sm7150 kconfig updates
  device/testing/linux-postmarketos-qcom-sm7150/APKBUILD
  device/testing/linux-postmarketos-qcom-sm7150/config-postmarketos-qcom-sm7150.aarch64
Due: kernel-kconfig

testing/alsa-ucm-conf-qcom-sm7150: New package
  device/testing/alsa-ucm-conf-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: Drop common A615 GPU ZAP firmware
  device/testing/soc-qcom-sm7150/30-initramfs-firmware.files
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: Add alsa ucm config
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: Implement accel libssc_180_degrees mount matrix
  device/testing/soc-qcom-sm7150/81-libssc-180-degrees.rules
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: Add and enable hexagonrpcd
  device/testing/soc-qcom-sm7150/APKBUILD
  device/testing/soc-qcom-sm7150/soc-qcom-sm7150-nonfree-firmware-openrc.post-install
Due: none

soc-qcom-sm7150: Install firmware unconditionally
  device/testing/soc-qcom-sm7150/APKBUILD
  device/testing/soc-qcom-sm7150/soc-qcom-sm7150-openrc.post-install
Due: none

{device,firmware}-xiaomi-davinci: Add myself as Co-Maintainer
  device/testing/device-xiaomi-davinci/APKBUILD
  device/testing/firmware-xiaomi-davinci/APKBUILD
Due: wiki

device-xiaomi-davinci: Update firmware dependencies
  device/testing/device-xiaomi-davinci/APKBUILD
  device/testing/device-xiaomi-davinci/hexagonrpcd.confd
Due: wiki

firmware-xiaomi-davinci: Update and add sensors and decommonized GPU firmware
  device/testing/firmware-xiaomi-davinci/APKBUILD
Due: none

firmware-xiaomi-surya: Update and add sensors firmware
  device/testing/firmware-xiaomi-surya/APKBUILD
Due: none

device-xiaomi-surya: Refine nonfree firmware dependencies
  device/testing/device-xiaomi-surya/APKBUILD
  device/testing/device-xiaomi-surya/hexagonrpcd.confd
Due: wiki

device-xiaomi-surya: Support Huaxing and Tianma panels
  device/testing/device-xiaomi-surya/APKBUILD
  device/testing/device-xiaomi-surya/deviceinfo
Due: wiki

linux-postmarketos-qcom-sm7150: Prepare for EFI
  device/community/linux-postmarketos-qcom-sm7150/APKBUILD
Due: none

alsa-ucm-conf-qcom-sm7150: Fix speakers when booting with U-Boot
  device/community/alsa-ucm-conf-qcom-sm7150/APKBUILD
Due: none

qcom-sm7150: New device
  device/community/device-qcom-sm7150/30-initramfs-firmware.files
  device/community/device-qcom-sm7150/90-feedbackd-aw8695.rules
  device/community/device-qcom-sm7150/90-feedbackd-pm6150.rules
  device/community/device-qcom-sm7150/APKBUILD
  device/community/device-qcom-sm7150/device-qcom-sm7150-openrc.post-install
  device/community/device-qcom-sm7150/deviceinfo
  device/community/device-qcom-sm7150/hexagonrpcd.confd
  device/community/device-qcom-sm7150/modules-initfs
Due: wiki

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .gitlab-ci.yml
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
