Repository sm7150-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:edge
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build

# defaults for "only"
# We need to run the CI jobs in a "merge request specific context", if CI is
# running in a merge request. Otherwise the environment variable that holds the
# merge request ID is not available. This means, we must set the "only"
# variable accordingly - and if we only do it for one job, all other jobs will
# not get executed. So have the defaults here, and use them in all jobs that
# should run on both the master branch, and in merge requests.
# https://docs.gitlab.com/ee/ci/merge_request_pipelines/index.html#excluding-certain-jobs
.only-default: &only-default
  only:
    - master
    - merge_requests
    - tags

# device documentation
wiki:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
ruff:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - .ci/*
      - .ci/*/*
      - .gitlab-ci.yml
  before_script:
    - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ruff.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh
    - .ci/codeowners.sh

editor-config:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  <<: *only-default
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  only:
    - merge_requests
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  only:
    refs:
      - master
      - merge_requests
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  only:
    - merge_requests
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  <<: *only-default
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

device-samsung-i9100: use ttySAC2 for getty shell (MR 4861)
  device/testing/device-samsung-i9100/APKBUILD
  device/testing/device-samsung-i9100/deviceinfo
Due: wiki

main/postmarketos-ui-plasma-{desktop,bigscreen}: drop duplicated dependencies (MR 4876)
  main/postmarketos-ui-plasma-bigscreen/APKBUILD
  main/postmarketos-ui-plasma-desktop/APKBUILD
Due: none

postmarketos-base-ui-plasma: remove unnecessary override files, and move kscreenlocker override back to plasma-mobile (MR 4882)
  main/postmarketos-base-ui-plasma/000-gschema.override
  main/postmarketos-base-ui-plasma/APKBUILD
  main/postmarketos-base-ui-plasma/kdeglobals
  main/postmarketos-base-ui-plasma/kwinrc
  main/postmarketos-ui-plasma-mobile/APKBUILD
  main/postmarketos-ui-plasma-mobile/kscreenlockerrc
Due: none

device-google-x64cros: remove nonfree-firmware subpackages (MR 4887)
  device/community/device-google-x64cros/APKBUILD
Due: wiki

google-snow: include usb storage modules in initramfs (MR 4881)
  device/community/device-google-snow/APKBUILD
  device/community/device-google-snow/modules-initfs
Due: wiki

google-spring: include usb storage modules in initramfs (MR 4881)
  device/testing/device-google-spring/APKBUILD
  device/testing/device-google-spring/modules-initfs
Due: wiki

google-peach-pit: include usb storage modules in initramfs (MR 4881)
  device/community/device-google-peach-pit/APKBUILD
  device/community/device-google-peach-pit/modules-initfs
Due: wiki

google-peach-pi: include usb storage modules in initramfs (MR 4881)
  device/testing/device-google-peach-pi/APKBUILD
  device/testing/device-google-peach-pi/modules-initfs
Due: wiki

main/postmarketos-base: change order of baud rate and tty name according to upstream (MR 4889)
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/postmarketos-base.trigger
Due: none

cross/musl-*: upgrade to 1.2.5-r0 (MR 4890)
  cross/musl-aarch64/APKBUILD
  cross/musl-armhf/APKBUILD
  cross/musl-armv7/APKBUILD
  cross/musl-riscv64/APKBUILD
  cross/musl-x86/APKBUILD
  cross/musl-x86_64/APKBUILD
Due: none

cross/busybox-static-*: upgrade to 1.36.1-r20 (MR 4890)
  cross/busybox-static-aarch64/APKBUILD
  cross/busybox-static-armhf/APKBUILD
  cross/busybox-static-armv7/APKBUILD
Due: none

linux-postmarketos-allwinner: upgrade to 6.7.9_git20240306 (MR 4893)
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
Due: kernel-kconfig

linux-postmarketos-mediatek-mt8173: upgrade to 6.7.9 (MR 4896)
  device/community/linux-postmarketos-mediatek-mt8173/APKBUILD
  device/community/linux-postmarketos-mediatek-mt8173/config-postmarketos-mediatek-mt8173.aarch64
Due: kernel-kconfig

main/lk2nd-msm8953: upgrade to 0.3.7 (MR 4899)
  main/lk2nd-msm8953/APKBUILD
Due: none

linux-postmarketos-qcom-msm8953: upgrade to 6.7.9-r0 (MR 4899)
  device/community/linux-postmarketos-qcom-msm8953/APKBUILD
  device/community/linux-postmarketos-qcom-msm8953/config-postmarketos-qcom-msm8953.aarch64
Due: kernel-kconfig

soc-qcom-msm8953: update ucm configurations (MR 4899)
  device/community/soc-qcom-msm8953/APKBUILD
Due: none

motorola-potter: use msm-firmware-loader & cleanups (MR 4870)
  device/testing/device-motorola-potter/APKBUILD
  device/testing/device-motorola-potter/deviceinfo
  device/testing/device-motorola-potter/modules-initfs
  device/testing/firmware-motorola-potter/APKBUILD
  device/testing/firmware-motorola-potter/firmware-motorola-potter.post-upgrade
  device/testing/firmware-motorola-potter/firmware.files
Due: wiki

device-cutiepi-tablet: remove redundant symlinks (MR 4898)
  device/testing/device-cutiepi-tablet/APKBUILD
Due: wiki

main/postmarketos-ui-plasma-mobile: update list of pre-installed apps (MR 4895)
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

postmarketos-initramfs: bigger log image size (MR 4880)
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init_functions.sh
Due: none

device-raspberry-pi4: depend on linux-rpi instead of linux-rpi4 (MR 4903)
  device/testing/device-raspberry-pi4/APKBUILD
Due: wiki

device-raspberry-pi4: move config.txt stuff to usercfg.txt (MR 4903)
  device/testing/device-raspberry-pi4/APKBUILD
  device/testing/device-raspberry-pi4/config.txt
  device/testing/device-raspberry-pi4/usercfg.txt
Due: wiki

device-raspberry-pi3: move config.txt stuff to usercfg.txt (MR 4903)
  device/testing/device-raspberry-pi3/APKBUILD
  device/testing/device-raspberry-pi3/config.txt
  device/testing/device-raspberry-pi3/usercfg.txt
Due: wiki

linux-valve-jupiter: new aport (MR 4885)
  device/testing/linux-valve-jupiter/0001-ACPICA-Limit-error-message-flood-caused-by-firmware-.patch
  device/testing/linux-valve-jupiter/0002-drivers-video-backlight-Disable-backlight-notificati.patch
  device/testing/linux-valve-jupiter/0003-iio-light-ltrf216a-Return-floating-point-values.patch
  device/testing/linux-valve-jupiter/0004-mfd-Add-MFD-core-driver-for-Steam-Deck.patch
  device/testing/linux-valve-jupiter/0005-hwmon-Add-driver-for-Steam-Deck-s-EC-sensors.patch
  device/testing/linux-valve-jupiter/0006-leds-steamdeck-Add-support-for-Steam-Deck-LED.patch
  device/testing/linux-valve-jupiter/0007-extcon-Add-driver-for-Steam-Deck.patch
  device/testing/linux-valve-jupiter/0008-hwmon-steamdeck-hwmon-Add-support-for-max-battery-le.patch
  device/testing/linux-valve-jupiter/0009-mfd-steamdeck-Expose-controller-board-power-in-sysfs.patch
  device/testing/linux-valve-jupiter/0010-x86-implement-tsc-directsync-for-systems-without-IA3.patch
  device/testing/linux-valve-jupiter/0011-x86-touch-clocksource-watchdog-after-syncing-TSCs.patch
  device/testing/linux-valve-jupiter/0012-x86-save-restore-TSC-counter-value-during-sleep-wake.patch
  device/testing/linux-valve-jupiter/0013-x86-only-restore-TSC-if-we-have-IA32_TSC_ADJUST-or-d.patch
  device/testing/linux-valve-jupiter/0014-x86-don-t-check-for-random-warps-if-using-direct-syn.patch
  device/testing/linux-valve-jupiter/0015-x86-revert-extra-time-added-to-check-for-tsc-wraps.patch
  device/testing/linux-valve-jupiter/0016-usb-dwc3-Hardcode-jupiter-ACPI-device-as-extcon-name.patch
  device/testing/linux-valve-jupiter/0017-usb-dwc3-Bump-USB-gadget-wakeup-timeout.patch
  device/testing/linux-valve-jupiter/0018-usb-dwc3-Drop-usb-role-swtich-from-dwc3_pci_mr_prope.patch
  device/testing/linux-valve-jupiter/0019-usb-dwc3-Fix-linux-extcon-name.patch
  device/testing/linux-valve-jupiter/0020-pinctrl-amd-Add-quirk-to-timeout-irq-pin-reconfigura.patch
  device/testing/linux-valve-jupiter/0021-mmc-core-add-safe_trim_quirk-attribute.patch
  device/testing/linux-valve-jupiter/APKBUILD
  device/testing/linux-valve-jupiter/config-valve-jupiter.x86_64
Due: kernel-kconfig

device-valve-jupiter: fix install, rootfs resize, etc (MR 4885)
  device/testing/device-valve-jupiter/APKBUILD
  device/testing/device-valve-jupiter/deviceinfo
  device/testing/device-valve-jupiter/initramfs.modules
  device/testing/device-valve-jupiter/modules-initfs
Due: wiki

main/postmarketos-initramfs: fix starting unudhcpd when no UDC configured (MR 4907)
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init_functions.sh
Due: none

main/postmarketos-base-ui: fix tethering script when no UDC configured (MR 4907)
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/rootfs-usr-lib-NetworkManager-dispatcher.d-50-tethering.sh
Due: none

linux-postmarketos-mediatek-mt81xx: upgrade to 6.8_rc6_git20240228 (MR 4908)
  device/testing/linux-postmarketos-mediatek-mt81xx/APKBUILD
  device/testing/linux-postmarketos-mediatek-mt81xx/config-postmarketos-mediatek-mt81xx.aarch64
  device/testing/linux-postmarketos-mediatek-mt81xx/mt8195-tomato-r1-nvme-fix.patch
Due: kernel-kconfig

linux-postmarketos-omap: upgrade to 6.8.0 (MR 4871)
  device/community/linux-postmarketos-omap/0006-Add-TWL6030-power-button-support-to-twl-pwrbutton.patch
  device/community/linux-postmarketos-omap/APKBUILD
  device/community/linux-postmarketos-omap/config-postmarketos-omap.armv7
Due: kernel-kconfig

linux-postmarketos-omap: fix version parsing logic (MR 4871)
  device/community/linux-postmarketos-omap/APKBUILD
Due: none

linux-postmarketos-omap: fix n900 battery & charger (MR 4871)
  device/community/linux-postmarketos-omap/0007-power-supply-bq27xxx-Report-charge-full-state-correc.patch
  device/community/linux-postmarketos-omap/0013-power-supply-bq2415x_charger-report-online-status.patch
  device/community/linux-postmarketos-omap/0014-ARM-dts-n900-set-charge-current-limit-to-950mA.patch
  device/community/linux-postmarketos-omap/APKBUILD
Due: none

cross/gcc-*: upgrade to 13.2.1_git20240309-r0
  cross/gcc-aarch64/0037-loongarch-disable-multilib-support.patch
  cross/gcc-aarch64/APKBUILD
  cross/gcc-armhf/0037-loongarch-disable-multilib-support.patch
  cross/gcc-armhf/APKBUILD
  cross/gcc-armv7/0037-loongarch-disable-multilib-support.patch
  cross/gcc-armv7/APKBUILD
  cross/gcc-riscv64/0037-loongarch-disable-multilib-support.patch
  cross/gcc-riscv64/APKBUILD
  cross/gcc-x86/0037-loongarch-disable-multilib-support.patch
  cross/gcc-x86/APKBUILD
  cross/gcc-x86_64/0037-loongarch-disable-multilib-support.patch
  cross/gcc-x86_64/APKBUILD
Due: none

main/postmarketos-ui-plasma-mobile: replace angelfish for firefox (MR 4917)
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

main/postmarketos-ui-plasma-mobile: remove some packages from pmb_recommends (MR 4917)
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

device-xiaomi-mido: add goodix_ts in initfs (MR 4913)
  device/community/device-xiaomi-mido/APKBUILD
  device/community/device-xiaomi-mido/modules-initfs
Due: wiki

device-xiaomi-vince: add nt36xxx to initfs (MR 4913)
  device/community/device-xiaomi-vince/APKBUILD
  device/community/device-xiaomi-vince/modules-initfs
Due: wiki

device-xiaomi-markw: remove workaround for touchscreens (MR 4902)
  device/community/device-xiaomi-markw/APKBUILD
  device/community/device-xiaomi-markw/modprobe.d_touchscreens-workaround.conf
  device/community/device-xiaomi-markw/modules-initfs
Due: wiki

linux-postmarketos-qcom-sm8250: upgrade to 6.8.0 (MR 4910)
  device/testing/linux-postmarketos-qcom-sm8250/APKBUILD
  device/testing/linux-postmarketos-qcom-sm8250/config-postmarketos-qcom-sm8250.aarch64
Due: kernel-kconfig
