Repository sm7150-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

samsung-fortuna: drop subpackage phosh (MR 4841)
  device/testing/device-samsung-fortuna3g/APKBUILD
  device/testing/device-samsung-fortunaltezt/APKBUILD
  device/testing/device-samsung-fortunaltezt/phoc.ini
  device/testing/device-samsung-gprimeltecan/APKBUILD
  device/testing/device-samsung-gprimeltexx/APKBUILD
  device/testing/device-samsung-gprimeltexx/phoc.ini
Due: wiki

main/boot-deploy: upgrade to 0.14 (MR 4842)
  main/boot-deploy/APKBUILD
Due: none

linux-google-nyan: upgrade to 6.6.17 (MR 4840)
  device/testing/linux-google-nyan/0001-ARM-dts-tegra-nyan-add-mmc-aliases.patch
  device/testing/linux-google-nyan/0002-ARM-tegra-nyan-fix-mic-jack-detection.patch
  device/testing/linux-google-nyan/0003-Revert-spi-Reintroduce-spi_set_cs_timing.patch
  device/testing/linux-google-nyan/0004-Revert-drm-tegra-Implement-fbdev-emulation-as-in-ker.patch
  device/testing/linux-google-nyan/0005-Revert-drm-tegra-Initialize-fbdev-DRM-client.patch
  device/testing/linux-google-nyan/APKBUILD
  device/testing/linux-google-nyan/config-google-nyan.armv7
Due: kernel-kconfig

CI: allow firmware packages as deps of device pkgs (MR 4839)
  .ci/testcases/test_device.py
Due: ruff

google-snow: enable GPU (MR 4843)
  device/community/device-google-snow/APKBUILD
  device/community/device-google-snow/deviceinfo
  device/community/device-google-snow/i3wm/xorg.conf.d/90-tap-to-click.conf
  device/community/device-google-snow/modprobe.d/mali.conf
  device/community/device-google-snow/mpv/mpv.conf.wayland
  device/community/device-google-snow/mpv/mpv.conf.xorg
  device/community/device-google-snow/sway/tinydm/10-no-hardware-cursor.sh
Due: wiki

samsung-manta: mark as GPU accelerated (MR 4843)
  device/community/device-samsung-manta/APKBUILD
  device/community/device-samsung-manta/deviceinfo
Due: wiki

cross/grub-efi-x86: upgrade to 2.12-r2 (MR 4844)
  cross/grub-efi-x86/APKBUILD
Due: none

main/linux-postmarketos-allwinner: update to v6.7.4 (MR 4847)
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
Due: kernel-kconfig

linux-postmarketos-qcom-msm8953: upgrade to 6.7.5-r0 (MR 4831)
  device/community/linux-postmarketos-qcom-msm8953/APKBUILD
  device/community/linux-postmarketos-qcom-msm8953/config-postmarketos-qcom-msm8953.aarch64
Due: kernel-kconfig

soc-qcom-msm8953: update ucm configurations (MR 4831)
  device/community/soc-qcom-msm8953/APKBUILD
Due: none

CI: check for "before wpa_supplicant" in OpenRC service files (MR 4769)
  .ci/grep.sh
Due: ruff

device-generic-x86_64: install all linux-firmware by default (MR 4794)
  device/testing/device-generic-x86_64/APKBUILD
Due: wiki

community/oem-*: add firmware dependencies (MR 4794)
  device/community/oem-amd/APKBUILD
  device/community/oem-intel/APKBUILD
Due: none

xiaomi-merlin: new device (MR 4808)
  device/testing/device-xiaomi-merlin/APKBUILD
  device/testing/device-xiaomi-merlin/deviceinfo
  device/testing/linux-xiaomi-merlin/APKBUILD
  device/testing/linux-xiaomi-merlin/config-xiaomi-merlin.aarch64
  device/testing/linux-xiaomi-merlin/selinux_include_generated_headers.patch
  device/testing/linux-xiaomi-merlin/stop-inlining-blk_crypto_flock-and-ksm_flock.patch
  device/testing/linux-xiaomi-merlin/use_system_cpio.patch
  device/testing/linux-xiaomi-merlin/use_system_dtc.patch
Due: wiki, kernel-kconfig

firmware-samsung-midas: add bl1 blob (MR 4850)
  device/community/firmware-samsung-midas/APKBUILD
Due: none

device-samsung-m3: set myself as maintainer (MR 4850)
  device/testing/device-samsung-m3/APKBUILD
Due: wiki

u-boot-starqltechn: remove unused var depends_dev (MR 4853)
  device/testing/u-boot-starqltechn/APKBUILD
Due: none

device/msm8916*: Generate extlinux.conf for armv7 devices (MR 4855)
  device/community/device-samsung-e7/APKBUILD
  device/community/device-samsung-e7/deviceinfo
  device/community/device-samsung-grandmax/APKBUILD
  device/community/device-samsung-grandmax/deviceinfo
  device/community/device-samsung-serranove/APKBUILD
  device/community/device-samsung-serranove/deviceinfo
  device/testing/device-acer-t01/APKBUILD
  device/testing/device-acer-t01/deviceinfo
  device/testing/device-nokia-argon/APKBUILD
  device/testing/device-nokia-argon/deviceinfo
  device/testing/device-nokia-leo/APKBUILD
  device/testing/device-nokia-leo/deviceinfo
  device/testing/device-nokia-sparkler/APKBUILD
  device/testing/device-nokia-sparkler/deviceinfo
  device/testing/device-samsung-fortunaltezt/APKBUILD
  device/testing/device-samsung-fortunaltezt/deviceinfo
  device/testing/device-samsung-heatqlte/APKBUILD
  device/testing/device-samsung-heatqlte/deviceinfo
Due: wiki

device-lenovo-21bx: update kernel cmdline params for new kernel (MR 4854)
  device/testing/device-lenovo-21bx/APKBUILD
  device/testing/device-lenovo-21bx/deviceinfo
Due: wiki

linux-lenovo-21bx: upgrade to 6.8_rc5 (MR 4854)
  device/testing/linux-lenovo-21bx/APKBUILD
  device/testing/linux-lenovo-21bx/config-lenovo-21bx.aarch64
Due: kernel-kconfig

linux-postmarketos-mediatek-mt81xx: fix nvme on tomato-r1 (MR 4856)
  device/testing/linux-postmarketos-mediatek-mt81xx/APKBUILD
  device/testing/linux-postmarketos-mediatek-mt81xx/mt8195-tomato-r1-nvme-fix.patch
Due: none

lg-vee7e: fix build, and add a new shared patch (MR 4860)
  device/.shared-patches/linux/linux3.4-fix-piggy.gzip.S.patch
  device/testing/linux-lg-vee7e/APKBUILD
  device/testing/linux-lg-vee7e/linux3.4-ARM-8933-1-replace-Sun-Solaris-style-flag-on-section.patch
  device/testing/linux-lg-vee7e/linux3.4-fix-piggy.gzip.S.patch
Due: none

linux-postmarketos-exynos4: update to 6.7.6 (MR 4862)
  device/community/linux-postmarketos-exynos4/APKBUILD
  device/community/linux-postmarketos-exynos4/config-postmarketos-exynos4.armv7
Due: kernel-kconfig

lg-vee7e: fix red screen (MR 4863)
  device/testing/linux-lg-vee7e/APKBUILD
  device/testing/linux-lg-vee7e/config-lg-vee7e.armv7
Due: kernel-kconfig

samsung-zerofltexx: add missing dependency (MR 4851)
  device/testing/device-samsung-zerofltexx/APKBUILD
Due: wiki

main/linux-postmarketos-allwinner: upgrade to 6.7.6 (MR 4865)
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
Due: kernel-kconfig

linux-postmarketos-mediatek-mt8173: upgrade to 6.7.6 (MR 4869)
  device/community/linux-postmarketos-mediatek-mt8173/APKBUILD
  device/community/linux-postmarketos-mediatek-mt8173/config-postmarketos-mediatek-mt8173.aarch64
Due: kernel-kconfig

device-google-oak: take over maintainership (MR 4872)
  device/community/device-google-oak/APKBUILD
Due: wiki

linux-postmarketos-mediatek-mt8173: take over maintainership (MR 4872)
  device/community/linux-postmarketos-mediatek-mt8173/APKBUILD
Due: none

firmware-powervr-gx6250: upgrade to 1.0.6503725 and take over maintainership (MR 4872)
  device/community/firmware-powervr-gx6250/APKBUILD
Due: none

samsung-a32: new device (MR 4859)
  device/testing/device-samsung-a32/APKBUILD
  device/testing/device-samsung-a32/deviceinfo
  device/testing/device-samsung-a32/initfs-hook.sh
  device/testing/linux-samsung-a32/01_use_system_cpio.patch
  device/testing/linux-samsung-a32/02_remove_duplicate_set_selection.patch
  device/testing/linux-samsung-a32/03_fix_pointer_ref_and_deref_errors.patch
  device/testing/linux-samsung-a32/04_cast_ints_to_the_correct_return_type.patch
  device/testing/linux-samsung-a32/05_dont_use_prebuilt_dtc.patch
  device/testing/linux-samsung-a32/06_enable_gzip_compression.patch
  device/testing/linux-samsung-a32/10_add_stpcpy.patch
  device/testing/linux-samsung-a32/APKBUILD
  device/testing/linux-samsung-a32/config-samsung-a32.aarch64
Due: wiki, kernel-kconfig

samsung-jxelte: display, USB network and zram fixes (MR 4852)
  device/testing/device-samsung-jxelte/APKBUILD
  device/testing/firmware-samsung-jxelte/APKBUILD
  device/testing/linux-samsung-jxelte/0002-fix-usb-gadget-random-mac.patch
  device/testing/linux-samsung-jxelte/APKBUILD
  device/testing/linux-samsung-jxelte/config-samsung-jxelte.aarch64
  device/testing/linux-samsung-jxelte/disable-charging-bootmode.patch
Due: wiki, kernel-kconfig

firmware-xiaomi-surya: install venus firmware (MR 4874)
  device/testing/firmware-xiaomi-surya/APKBUILD
Due: none

main/linux-postmarketos-allwinner: upgrade to 6.7.7 (MR 4878)
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
Due: kernel-kconfig

samsung-p4note: enable audio (MR 4868)
  device/testing/device-samsung-p4note/APKBUILD
  device/testing/device-samsung-p4note/audio/HiFi.conf
  device/testing/device-samsung-p4note/audio/p4note.conf
Due: wiki

linux-lenovo-21bx: upgrade to 6.8-rc6 (MR 4877)
  device/testing/linux-lenovo-21bx/APKBUILD
  device/testing/linux-lenovo-21bx/config-lenovo-21bx.aarch64
Due: kernel-kconfig

main/postmarketos-ui-plasma-bigscreen: disable (MR 4883)
  main/postmarketos-ui-plasma-bigscreen/APKBUILD
Due: none

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .gitlab-ci.yml
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
