Repository sm7150-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:edge
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build

# defaults for "only"
# We need to run the CI jobs in a "merge request specific context", if CI is
# running in a merge request. Otherwise the environment variable that holds the
# merge request ID is not available. This means, we must set the "only"
# variable accordingly - and if we only do it for one job, all other jobs will
# not get executed. So have the defaults here, and use them in all jobs that
# should run on both the master branch, and in merge requests.
# https://docs.gitlab.com/ee/ci/merge_request_pipelines/index.html#excluding-certain-jobs
.only-default: &only-default
  only:
    - master
    - merge_requests
    - tags

# device documentation
wiki:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
ruff:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - .ci/*
      - .ci/*/*
      - .gitlab-ci.yml
  before_script:
    - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ruff.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh
    - .ci/codeowners.sh

editor-config:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  <<: *only-default
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  only:
    - merge_requests
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  only:
    refs:
      - master
      - merge_requests
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  only:
    - merge_requests
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  <<: *only-default
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

device-xiaomi-elish: disable framebuffer console output (MR 4910)
  device/testing/device-xiaomi-elish/APKBUILD
  device/testing/device-xiaomi-elish/deviceinfo
Due: wiki

pocketbook-614-plus: new device (MR 4901)
  device/main/linux-postmarketos-allwinner/0015-ARM-dts-allwinner-sun5i-a13-pocketbook-614-plus-Add-.patch
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
  device/testing/device-pocketbook-614-plus/APKBUILD
  device/testing/device-pocketbook-614-plus/deviceinfo
  device/testing/device-pocketbook-614-plus/modules-initfs
  device/testing/u-boot-pocketbook-614-plus/0001-ARM-dts-allwinner-sun5i-a13-pocketbook-614-plus-Add-.patch
  device/testing/u-boot-pocketbook-614-plus/0002-ARM-add-defconfig-for-PocketBook-614-Plus.patch
  device/testing/u-boot-pocketbook-614-plus/APKBUILD
Due: wiki, kernel-kconfig

xiaomi-fog: new device (MR 4911)
  device/testing/device-xiaomi-fog/APKBUILD
  device/testing/device-xiaomi-fog/deviceinfo
  device/testing/linux-xiaomi-fog/APKBUILD
  device/testing/linux-xiaomi-fog/config-xiaomi-fog.aarch64
Due: wiki, kernel-kconfig

Revert "main/postmarketos-ui-plasma-mobile: remove some packages from pmb_recommends (MR 4917)" (MR 4921)
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

Revert "main/postmarketos-ui-plasma-mobile: replace angelfish for firefox (MR 4917)" (MR 4921)
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

linux-lenovo-21bx: upgrade to 6.8 (MR 4914)
  device/testing/linux-lenovo-21bx/0001-Revert-Bluetooth-hci_qca-Set-BDA-quirk-bit-if-fwnode.patch
  device/testing/linux-lenovo-21bx/APKBUILD
  device/testing/linux-lenovo-21bx/config-lenovo-21bx.aarch64
Due: kernel-kconfig

device-lenovo-kuntao: new device (MR 4879)
  device/testing/device-lenovo-kuntao/APKBUILD
  device/testing/device-lenovo-kuntao/deviceinfo
Due: wiki

linux-postmarketos-qcom-msm8994: update dt for h815 (MR 4915)
  device/testing/linux-postmarketos-qcom-msm8994/0002-arm64-dts-qcom-msm8992-lg-h815.patch
  device/testing/linux-postmarketos-qcom-msm8994/APKBUILD
Due: none

linux-postmarketos-qcom-msm8994: upgrade to 6.8 (MR 4915)
  device/testing/linux-postmarketos-qcom-msm8994/APKBUILD
  device/testing/linux-postmarketos-qcom-msm8994/config-postmarketos-qcom-msm8994.aarch64
Due: kernel-kconfig

device-nokia-argon: embed matrix-keypad module in initramfs (MR 4923)
  device/testing/device-nokia-argon/APKBUILD
  device/testing/device-nokia-argon/modules-initfs
Due: wiki

main/device-pine64-pinephone: depend on sway instead of sway-virtual (MR 4857)
  device/main/device-pine64-pinephone/APKBUILD
Due: wiki

main/postmarketos-artwork: upgrade to Meadow wallpaper and make Plasma-compatible (MR 4805)
  main/postmarketos-artwork/APKBUILD
Due: none

microsoft-surface-rt: remove pointercal (MR 4928)
  device/testing/device-microsoft-surface-rt/APKBUILD
  device/testing/device-microsoft-surface-rt/pointercal
Due: wiki

microsoft-surface-rt: remove phosh config (MR 4928)
  device/testing/device-microsoft-surface-rt/APKBUILD
  device/testing/device-microsoft-surface-rt/phoc.ini
Due: wiki

microsoft-surface-rt: use PMOS_FORCE_PARTITION_RESIZE (MR 4928)
  device/testing/device-microsoft-surface-rt/APKBUILD
  device/testing/device-microsoft-surface-rt/deviceinfo
Due: wiki

microsoft-surface-rt: remove deprecated deviceinfo variables (MR 4928)
  device/testing/device-microsoft-surface-rt/APKBUILD
  device/testing/device-microsoft-surface-rt/deviceinfo
Due: wiki

microsoft-surface-rt: use generated grub.cfg (MR 4928)
  device/testing/device-microsoft-surface-rt/APKBUILD
  device/testing/device-microsoft-surface-rt/deviceinfo
  device/testing/device-microsoft-surface-rt/grub.cfg
Due: wiki

microsoft-surface-rt: remove initfs-hook.sh (MR 4928)
  device/testing/device-microsoft-surface-rt/APKBUILD
  device/testing/device-microsoft-surface-rt/initfs-hook.sh
Due: wiki

main/postmarketos-mkinitfs: upgrade to 2.4.0 (MR 4924)
  main/postmarketos-mkinitfs/APKBUILD
Due: none

main/postmarketos-mkinitfs: remove CGO_ENABLED=0 (MR 4924)
  main/postmarketos-mkinitfs/APKBUILD
Due: none

linux-postmarketos-qcom-sc7280: upgrade to 6.8.0 (MR 4922)
  device/testing/linux-postmarketos-qcom-sc7280/APKBUILD
  device/testing/linux-postmarketos-qcom-sc7280/config-postmarketos-qcom-sc7280.aarch64
Due: kernel-kconfig

temp/gtk4.0: upgrade to 4.14.0, remove mesa-asahi workaround (MR 4927)
  temp/gtk4.0/APKBUILD
Due: none

linux-postmarketos-grate: enable WM8962 (MR 4931)
  device/community/linux-postmarketos-grate/APKBUILD
  device/community/linux-postmarketos-grate/config-postmarketos-grate.armv7
Due: kernel-kconfig

linux-postmarketos-qcom-sdm845: hotfixes for xiaomi-polaris (MR 4867)
  device/community/linux-postmarketos-qcom-sdm845/0001-arm64-dts-qcom-sdm845-xiaomi-polaris-Enable-ath10k-h.patch
  device/community/linux-postmarketos-qcom-sdm845/0002-drm-panel-Enable-prepare_prev_first-flag-for-NT35596.patch
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
Due: none

linux-postmarketos-mediatek-mt8173: upgrade to 6.8.1 (MR 4932)
  device/community/linux-postmarketos-mediatek-mt8173/APKBUILD
  device/community/linux-postmarketos-mediatek-mt8173/config-postmarketos-mediatek-mt8173.aarch64
Due: kernel-kconfig

xiaomi-sweet: new device
  device/testing/device-xiaomi-sweet/APKBUILD
  device/testing/device-xiaomi-sweet/deviceinfo
  device/testing/device-xiaomi-sweet/modules-initfs
  device/testing/firmware-xiaomi-sweet/APKBUILD
Due: wiki

soc-qcom-sm7150: Drop common a615 gpu zap fw
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

xiaomi-courbet: new device
  device/testing/device-xiaomi-courbet/APKBUILD
  device/testing/device-xiaomi-courbet/deviceinfo
  device/testing/device-xiaomi-courbet/modules-initfs
  device/testing/firmware-xiaomi-courbet/APKBUILD
Due: wiki

xiaomi-toco: new device
  device/testing/device-xiaomi-toco/APKBUILD
  device/testing/device-xiaomi-toco/deviceinfo
  device/testing/device-xiaomi-toco/modules-initfs
  device/testing/firmware-xiaomi-toco/APKBUILD
Due: wiki

soc-qcom-sm7150: Add alsa ucm config
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: initramfs-firmware: Change path for gpu a615 zap fw
  device/testing/soc-qcom-sm7150/30-initramfs-firmware.files
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: Add accel libssc_180_degrees mount matrix
  device/testing/soc-qcom-sm7150/81-libssc-180-degrees.rules
  device/testing/soc-qcom-sm7150/APKBUILD
Due: none

soc-qcom-sm7150: Add and enable hexagonrpcd
  device/testing/soc-qcom-sm7150/APKBUILD
  device/testing/soc-qcom-sm7150/soc-qcom-sm7150-nonfree-firmware.post-install
Due: none

firmware-xiaomi-davinci: Update and add sensors and decommonized GPU firmware
  device/testing/firmware-xiaomi-davinci/APKBUILD
  device/testing/firmware-xiaomi-davinci/adsp.files
  device/testing/firmware-xiaomi-davinci/cdsp.files
  device/testing/firmware-xiaomi-davinci/gpu.files
  device/testing/firmware-xiaomi-davinci/ipa.files
  device/testing/firmware-xiaomi-davinci/modem.files
  device/testing/firmware-xiaomi-davinci/sensors.files
  device/testing/firmware-xiaomi-davinci/venus.files
  device/testing/firmware-xiaomi-davinci/wlan.files
Due: none

device-xiaomi-surya: Update firmware dependencies
  device/testing/device-xiaomi-surya/APKBUILD
Due: wiki

device-xiaomi-davinci: Update firmware dependencies
  device/testing/device-xiaomi-davinci/APKBUILD
Due: wiki

device-xiaomi-surya: modules-initfs: Add ts+panel and drop gpi+spi
  device/testing/device-xiaomi-surya/APKBUILD
  device/testing/device-xiaomi-surya/modules-initfs
Due: wiki

firmware-xiaomi-surya: Update and add sensors fws
  device/testing/firmware-xiaomi-surya/30-touchscreen-firmware.files
  device/testing/firmware-xiaomi-surya/APKBUILD
  device/testing/firmware-xiaomi-surya/adsp.files
  device/testing/firmware-xiaomi-surya/cdsp.files
  device/testing/firmware-xiaomi-surya/gpu.files
  device/testing/firmware-xiaomi-surya/ipa.files
  device/testing/firmware-xiaomi-surya/modem.files
  device/testing/firmware-xiaomi-surya/sensors.files
  device/testing/firmware-xiaomi-surya/touchscreen.files
  device/testing/firmware-xiaomi-surya/venus.files
  device/testing/firmware-xiaomi-surya/wlan.files
Due: none
